#drum-machine {
  width: 100%;
  height: 100vh;
  background-image: url('../public/drum.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  color: white;
}

#pad {
  display: flex;
  color: white;
}

#display {
  color: white;
}
.drum-pad {
  margin: 10px;
  width: 100px;
  height: 100px;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}
